{% extends 'homepage/navbarPG.html' %}
{% block body %}
<style>
    #buy1{

        padding: 0 15px 22px ;
        background: grey ;
    }

    #sell {

        padding: 0 15px 22px ;
        background: grey ;

    }

</style>


<div class="container text-center">

    <br>
    <br>

    <a><h2 id="buy">BUY</h2></a>
</div>

<div class="container" id="buy1">
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<div class="container text-center">

    <br>
    <br>

    <a><h2 id="buy">SELL</h2></a>
</div>

<div class="container" id="sell">
    <br>
    <br>
    <br>
    <br>
    <br>

</div>


{%endblock%}