<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="PG.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid" >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="indexPG.html"><img src="imgPG/logo1.png" class="img-responsive" id="icon"></a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li ><a href="indexPG.html"><span class="glyphicon glyphicon-home"> Home</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-earphone"> Contact</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-file"> Services</span></a></li>
                <li class="active"><a href="flats.html"><span class="glyphicon glyphicon-bed"> Flats</span></a></li>
                <li><a href="memberPG.html"><span class="glyphicon glyphicon-calendar"> Membership</span></a></li>
            </ul>

            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search-location">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"> Search</span></button>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-user"> Login</span></button>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-out"> Sign out</span></button>
            </form>
        </div>
    </div>
</nav>
<br>
<br>

<div class="container text-center"   style="border:10px solid" id="flat">
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <br>
            <br>
            <a id="photo"><img src="imgPG/flatmum.jpg"></a>

        </div>
        <div class="col-md-6">
          <h2>NAME OF THE OWNER</h2>
            <ul>
               <hr> <li><strong>CONTACT NUMBER</strong></li> <hr>
                <li><strong>NEAREST STATION</strong></li> <hr>
               <li><strong>BHK</strong></li> <hr>
                <li><strong>NEGOTIABLE</strong></li>
            </ul>
        </div>

    </div>
    <br>
    <br>
    <br>
</div>

<!--<div class="container" >
    <div class="row" style="background-color: lightblue">
        <h3><strong>NAME</strong></h3>
        <a>NEAREST STATION</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><strong>SQUARE FEET</strong></p>
        </div>
        <div class="col-md-4">
            <p><strong>BHK</strong></p>
        </div>
        <div class="col-md-4">
            <p><strong>PRICE</strong></p>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-4">
            <img src="imgPG/flatmum.jpg">
        </div>
    </div>
        <hr color=" black">
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <p><strong>CONDITION</strong></p>
            </div>
                <div class="col-md-4">
                    <p><strong>AGE</strong></p>
                </div>
            </div>
        </div>
        <hr color="black">
    </div>

</div>
-->
</div>
</body>
</html>